<h6><i class="fas fa-user-lock" style="margin-right: 5px"></i>Admin</h6>
<h3>Welcome {{name}} </h3>
<p>YOUR GAMES</p>
{{#if games}}
<table class="striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each games}}
        <tr>
            <td><a href="/games/{{_id}}">{{name}}</a></td>
            <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="/games/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>
                
                <form action="/games/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have not added any games</p>
{{/if}}