<h2 style="display: block; text-align:center; ">GAMES</h2>
<div class="row">
    {{#each games}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-content center-align">
                <h5>{{ truncate name 18}}</h5>

                <form action="/games/toggle/{{_id}}" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <input type="button" id="toggle"  name="status" value="{{status}}" style="color:blue"
                        onclick="this.form.submit()">
                </form>

                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/games/user/{{user._id}}">{{user.displayName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/games/{{_id}}" class="btn grey">See More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No Games to display</p>
    {{/each}}
</div>